<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ML Editor</title>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <h1>Welcome to the ML Editor!</h1>
    <h2>Version 2: A quality score from a simple model</h2>
    <p> This version of the ML Editor outputs a question quality score. This
        score comes from a model trained to predict whether questions from
        <a href="writers.stackexchange.com">writers.stackexchange.com</a>
        would receive more upvotes than average. The questions in the dataset tend
        to be on the longer side (multiple sentences per question),
        so the model works best for longer examples.</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="question">Which question would you like to ask?</label>
            <textarea class="form-control" rows="5" name="question" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Get recommendation</button>
        <a href="/" class="btn btn-primary">Back to main page</a>
    </form>

  </body>
</html>